a:link, a:visited {
    text-decoration: none;
    background-color: aqua;
    margin-bottom: 1px;
    border: 2px black;
    display: block;
    text-align: center;
    width: 280px;
    color: black;
    font-size: 115%;
}

a:hover, a:active {
    background-color: blueviolet;
    color: aliceblue;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    font-size: 25px;
}

li {
    list-style: none;
    text-align: center;
}